@model DogFormModel

@{
	ViewData["Title"] = "Create Dog";
}

<h1>Create new Dog shipment</h1>

<div class="row">
	<div class="col-md-4">
		<form enctype="multipart/form-data" method="post">
			<div class="form-group">
				<label asp-for="Count"></label>
				<input type="number" min="1" step="1" asp-for="Count" class="form-control" />
				<span asp-validation-for="Count" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Title"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Name"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Breed"></label>
				<input asp-for="Breed" class="form-control" />
				<span asp-validation-for="Breed" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Weight"></label>
				<input type="number" step="1" placeholder="kg" asp-for="Weight" class="form-control" />
				<span asp-validation-for="Weight" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col">
						<legend class="col-form-label">
							Has all vaccinations?
						</legend>
						<div class="form-check">
							@Html.RadioButtonFor(m => m.HasAllVaccinations, true, new { id = "has-vaccinations-radio-button" })
							<label for="has-vaccinations-radio-button">
								Yes
							</label>
						</div>
						<div class="form-check">
							@Html.RadioButtonFor(m => m.HasAllVaccinations, false, new { id = "has-not-vaccinations-radio-button" })
							<label for="has-not-vaccinations-radio-button">
								No
							</label>
						</div>
					</div>
				</div>
				<span asp-validation-for="HasAllVaccinations" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col">
						<legend class="col-form-label">
							Has carrier?
						</legend>
						<div class="form-check">
							@Html.RadioButtonFor(m => m.HasCarrier, true, new { id = "has-carrier-radio-button" })
							<label for="has-carrier-radio-button">
								Yes
							</label>
						</div>
						<div class="form-check">
							@Html.RadioButtonFor(m => m.HasCarrier, false, new { id = "has-not-carrier-radio-button" })
							<label for="has-not-carrier-radio-button">
								No
							</label>
						</div>
					</div>
				</div>
				<span asp-validation-for="HasCarrier" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col">
						<legend class="col-form-label">
							Has specific needs?
						</legend>
						<div class="form-check">
							@Html.RadioButtonFor(m => m.HasSpecificNeeds, true, new { id = "has-needs-radio-button" })
							<label for="has-needs-radio-button">
								Yes
							</label>
						</div>
						<div class="form-check">
							@Html.RadioButtonFor(m => m.HasSpecificNeeds, false, new { id = "has-not-needs-radio-button" })
							<label for="has-not-needs-radio-button">
								No
							</label>
						</div>
					</div>
				</div>
				<span asp-validation-for="HasSpecificNeeds" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PickupLocation"></label>
				<input asp-for="PickupLocation" class="form-control" />
				<span asp-validation-for="PickupLocation" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DeliveryLocation"></label>
				<input asp-for="DeliveryLocation" class="form-control" />
				<span asp-validation-for="DeliveryLocation" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CollectionDateEarliest"></label>
				<input type="date" name="CollectionDateEarliest" required />
				<span asp-validation-for="CollectionDateEarliest" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CollectionDateLatest"></label>
				<input type="date" name="CollectionDateLatest" required />
				<span asp-validation-for="CollectionDateLatest" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DeliveryDateEarliest"></label>
				<input type="date" name="DeliveryDateEarliest" required />
				<span asp-validation-for="DeliveryDateEarliest" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DeliveryDateLatest"></label>
				<input type="date" name="DeliveryDateLatest" required />
				<span asp-validation-for="DeliveryDateLatest" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Photos"></label>
				<div class="custom-file">
					<input multiple asp-for="Photos" class="form-control custom-file-input" />
					<label class="custom-file-label">Choose File...</label>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="AdditionalDetails"></label>
				<textarea asp-for="AdditionalDetails" class="form-control"></textarea>
				<span asp-validation-for="AdditionalDetails" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">Create</button>
		</form>
	</div>
</div>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
	@await Html.PartialAsync("_FileInputValidationScriptsPartial")
}