@model IEnumerable<AdminUserListingViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
					<a asp-controller="Users" asp-action="Details" asp-route-id="@user.Id">
						@user.Username
					</a>
                </td>
                <td>
                    @user.Email
                </td>
				<td>
					<a asp-controller="Users" asp-action="Remove" asp-route-id="@user.Id" class="btn btn-danger">Remove</a>
					<a asp-area="" asp-controller="Messages" asp-action="Index" asp-route-recipientId="@user.Id" class="btn btn-primary">Send Message</a>
				</td>
            </tr>
        }
    </tbody>
</table>