@model LessThanContainerLoadFormModel

@{
	ViewData["Title"] = "Create Less Than Container Load";
}

<h1>Create new Less Than Container Load (LCL) delivery</h1>

<div class="row">
	<div class="col-md-4">
		<form enctype="multipart/form-data" method="post">
			<div class="form-group">
				<label asp-for="Title"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Type"></label>
				<select asp-for="Type" asp-items="Html.GetEnumSelectList<LessThanContainerLoadType>()" class="form-control"></select>
				<span asp-validation-for="Type" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="HandlingUnit"></label>
				<select asp-for="HandlingUnit" asp-items="Html.GetEnumSelectList<HandlingUnitType>()" class="form-control"></select>
				<span asp-validation-for="HandlingUnit" class="text-danger"></span>
			</div>
			@await Html.PartialAsync("_DeliveryInsurancePartial", Model)
			<div class="form-group">
				<div class="row">
					<div class="col">
						<legend class="col-form-label">
							Measurement unit
						</legend>
						<div class="form-check">
							@Html.RadioButtonFor(lcl => lcl.MeasurementUnit, MeasurementUnit.Imperial, new { id = "imperial-checkbox" })
							<label for="imperial-checkbox">
								Imperial
							</label>
						</div>
						<div class="form-check">
							@Html.RadioButtonFor(lcl => lcl.MeasurementUnit, MeasurementUnit.Metric, new { id = "metric-checkbox" })
							<label for="metric-checkbox">
								Metric
							</label>
						</div>
					</div>
				</div>
				<span asp-validation-for="MeasurementUnit" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LengthFirstPart">Length</label>
				<input type="number" min="0" step="1" placeholder="meters" asp-for="LengthFirstPart" class="first-part-input form-control mb-1" />
				<span asp-validation-for="LengthFirstPart" class="text-danger"></span>
				<input type="number" min="0" step="1" placeholder="centimeters" asp-for="LengthSecondPart" class="second-part-input form-control" />
				<span asp-validation-for="LengthSecondPart" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="WidthFirstPart">Width</label>
				<input type="number" min="0" step="1" placeholder="meters" asp-for="WidthFirstPart" class="first-part-input form-control mb-1" />
				<span asp-validation-for="WidthFirstPart" class="text-danger"></span>
				<input type="number" min="0" step="1" placeholder="centimeters" asp-for="WidthSecondPart" class="second-part-input form-control" />
				<span asp-validation-for="WidthSecondPart" class="text-danger"></span>
			</div>
			<div class="form-group">

				<label asp-for="HeightFirstPart">Height</label>
				<input type="number" min="0" step="1" placeholder="meters" asp-for="HeightFirstPart" class="first-part-input form-control mb-1" />
				<span asp-validation-for="HeightFirstPart" class="text-danger"></span>
				<input type="number" min="0" step="1" placeholder="centimeters" asp-for="HeightSecondPart" class="second-part-input form-control" />
				<span asp-validation-for="HeightSecondPart" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Weight"></label>
				<input type="number" min="0" step="1" placeholder="kilograms" asp-for="Weight" class="weight-input form-control" />
				<span asp-validation-for="Weight" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Quantity"></label>
				<input type="number" min="0" step="1" placeholder="count" asp-for="Quantity" class="form-control" />
				<span asp-validation-for="Quantity" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col">
						<legend class="col-form-label">
							Is stackable?
						</legend>
						<div class="form-check">
							@Html.RadioButtonFor(lcl => lcl.IsStackable, true, new { id = "is-stackable-radio-button" })
							<label for="is-stackable-radio-button">
								Yes
							</label>
						</div>
						<div class="form-check">
							@Html.RadioButtonFor(lcl => lcl.IsStackable, false, new { id = "is-not-stackable-radio-button" })
							<label for="is-not-stackable-radio-button">
								No
							</label>
						</div>
					</div>
				</div>
				<span asp-validation-for="IsStackable" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col">
						<legend class="col-form-label">
							Is hazardous?
						</legend>
						<div class="form-check">
							@Html.RadioButtonFor(lcl => lcl.IsHazardous, true, new { id = "is-hazardous-radio-button" })
							<label for="is-hazardous-radio-button">
								Yes
							</label>
						</div>
						<div class="form-check">
							@Html.RadioButtonFor(lcl => lcl.IsHazardous, false, new { id = "is-not-hazardous-radio-button" })
							<label for="is-not-hazardous-radio-button">
								No
							</label>
						</div>
					</div>
				</div>
				<span asp-validation-for="IsHazardous" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PickupLocation"></label>
				<input asp-for="PickupLocation" class="form-control" />
				<span asp-validation-for="PickupLocation" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DeliveryLocation"></label>
				<input asp-for="DeliveryLocation" class="form-control" />
				<span asp-validation-for="DeliveryLocation" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CollectionDate"></label>
				<input type="date" name="CollectionDate" required />
				<span asp-validation-for="CollectionDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DeliveryDate"></label>
				<input type="date" name="DeliveryDate" required />
				<span asp-validation-for="DeliveryDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Photos"></label>
				<div class="custom-file">
					<input multiple asp-for="Photos" class="form-control custom-file-input" />
					<label class="custom-file-label">Choose File...</label>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="AdditionalDetails"></label>
				<textarea asp-for="AdditionalDetails" class="form-control"></textarea>
				<span asp-validation-for="AdditionalDetails" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">Create</button>
		</form>
	</div>
</div>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
	@await Html.PartialAsync("_FileInputValidationScriptsPartial")
	@await Html.PartialAsync("_MeasurementUnitsValidationScriptsPartial")
}