@model RegisterTransporterViewModel

<h2>Register As Transporter</h2>

<div class="row">
	<div class="col-md-4">
		<form id="reg-form" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" onsubmit=" return !!(validateTrailerCheckboxes() & validateComodityCheckboxes());">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Username"></label>
				<input asp-for="Username" class="form-control" />
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FirstName"></label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LastName"></label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Password"></label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ConfirmPassword"></label>
				<input asp-for="ConfirmPassword" class="form-control" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Phone"></label>
				<input asp-for="Phone" class="form-control" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>
			<div id="trailer-checkboxes-list">
				Trailer Type

				<div class="form-check">
					<input id="air-ride-checkbox" class="form-check-input" type="checkbox" value="@((int)TrailerType.AirRideVan)" />
					<label class="form-check-label" for="air-ride-checkbox">
						Air Ride Van
					</label>
				</div>
				
				<div class="form-check">
					<input id="auto-carrier-checkbox" class="form-check-input" type="checkbox" value="@((int)TrailerType.AutoCarrier)" />
					<label class="form-check-label" for="auto-carrier-checkbox">
						Auto Carrier
					</label>
				</div>
				
				<div class="form-check">
					<input id="dry-van-checkbox" class="form-check-input" type="checkbox" value="@((int)TrailerType.DryVan)" />
					<label class="form-check-label" for="dry-van-checkbox">
						Dry Van
					</label>
				</div>
				
				<div class="form-check">
					<input id="dump-checkbox" class="form-check-input" type="checkbox" value="@((int)TrailerType.Dump)" />
					<label class="form-check-label" for="dump-checkbox">
						Dump
					</label>
				</div>
				
				<div class="form-check">
					<input id="flatbed-checkbox" class="form-check-input" type="checkbox" value="@((int)TrailerType.Flatbed)" />
					<label class="form-check-label" for="flatbed-checkbox">
						Flatbed
					</label>
				</div>
				
				<div class="form-check">
					<input id="flatbed-double-checkbox" class="form-check-input" type="checkbox" value="@((int)TrailerType.FlatbedDouble)" />
					<label class="form-check-label" for="flatbed-double-checkbox">
						Flatbed Double
					</label>
				</div>
				
				<div class="form-check">
					<input id="low-loader-checkbox" class="form-check-input" type="checkbox" value="@((int)TrailerType.LowLoader)" />
					<label class="form-check-label" for="low-loader-checkbox">
						Low Loader
					</label>
				</div>
				
				<div class="form-check">
					<input id="power-only-checkbox" class="form-check-input" type="checkbox" value="@((int)TrailerType.PowerOnly)" />
					<label class="form-check-label" for="power-only-checkbox">
						Power Only
					</label>
				</div>
				
				<div class="form-check">
					<input id="refrigerated-vehicle-checkbox" class="form-check-input" type="checkbox" value="@((int)TrailerType.RefrigeratedVehicle)" />
					<label class="form-check-label" for="refrigerated-vehicle-checkbox">
						Refrigerated Vehicle
					</label>
				</div>
				
				<div class="form-check">
					<input id="removable-gooseneck-checkbox" class="form-check-input" type="checkbox" value="@((int)TrailerType.RemovableGooseneck)" />
					<label class="form-check-label" for="removable-gooseneck-checkbox">
						Removable Gooseneck
					</label>
				</div>
				
				<div class="form-check">
					<input id="step-deck-checkbox" class="form-check-input" type="checkbox" value="@((int)TrailerType.StepDeck)" />
					<label class="form-check-label" for="step-deck-checkbox">
						Step Deck
					</label>
				</div>
				
				<div class="form-check">
					<input id="stretch-flatbed-checkbox" class="form-check-input" type="checkbox" value="@((int)TrailerType.StretchFlatbed)" />
					<label class="form-check-label" for="stretch-flatbed-checkbox">
						Stretch Flatbed
					</label>
				</div>
				
				<div class="form-check">
					<input id="tanker-checkbox" class="form-check-input" type="checkbox" value="@((int)TrailerType.Tanker)" />
					<label class="form-check-label" for="tanker-checkbox">
						Tanker
					</label>
				</div>
				
				<div class="form-check">
					<input id="van-double-checkbox" class="form-check-input" type="checkbox" value="@((int)TrailerType.VanDouble)" />
					<label class="form-check-label" for="van-double-checkbox">
						Van Double
					</label>
				</div>
				
				<span asp-validation-for="TrailerType" class="text-danger"></span>
				<span class="trailer-error text-danger" style="display:none">You must select at least one trailer type.</span>
			</div>
			<hr />
			<div id="comodity-checkboxes-list" class="mt-2">
				Comodity Type

				<div class="form-check">
					<input id="antiques-checkbox" class="form-check-input" type="checkbox" value="@((int)ComodityType.AntiquesAndSpecialCareItems)" />
					<label class="form-check-label" for="antiques-checkbox">
						Antiques And Special Care Items
					</label>
				</div>

				<div class="form-check">
					<input id="boats-checkbox" class="form-check-input" type="checkbox" value="@((int)ComodityType.Boats)" />
					<label class="form-check-label" for="boats-checkbox">
						Boats
					</label>
				</div>

				<div class="form-check">
					<input id="business-goods-checkbox" class="form-check-input" type="checkbox" value="@((int)ComodityType.BusinessIndustrialGoods)" />
					<label class="form-check-label" for="business-goods-checkbox">
						Business Industrial Goods
					</label>
				</div>

				<div class="form-check">
					<input id="food-goods-checkbox" class="form-check-input" type="checkbox" value="@((int)ComodityType.FoodAgriculturalGoods)" />
					<label class="form-check-label" for="food-goods-checkbox">
						Food Agricultural Goods
					</label>
				</div>

				<div class="form-check">
					<input id="full-load-checkbox" class="form-check-input" type="checkbox" value="@((int)ComodityType.FullLoad)" />
					<label class="form-check-label" for="full-load-checkbox">
						Full Load
					</label>
				</div>

				<div class="form-check">
					<input id="horses-livestock-checkbox" class="form-check-input" type="checkbox" value="@((int)ComodityType.HorsesLivestock)" />
					<label class="form-check-label" for="horses-livestock-checkbox">
						Horses Livestock
					</label>
				</div>

				<div class="form-check">
					<input id="household-moves-checkbox" class="form-check-input" type="checkbox" value="@((int)ComodityType.HouseholdAndOfficeMoves)" />
					<label class="form-check-label" for="household-moves-checkbox">
						Household And Office Moves
					</label>
				</div>

				<div class="form-check">
					<input id="household-goods-checkbox" class="form-check-input" type="checkbox" value="@((int)ComodityType.HouseholdGoods)" />
					<label class="form-check-label" for="household-goods-checkbox">
						Household Goods
					</label>
				</div>

				<div class="form-check">
					<input id="lcl-checkbox" class="form-check-input" type="checkbox" value="@((int)ComodityType.LessThanContainerLoad)" />
					<label class="form-check-label" for="lcl-checkbox">
						Less Than Container Load
					</label>
				</div>

				<div class="form-check">
					<input id="motorcycles-checkbox" class="form-check-input" type="checkbox" value="@((int)ComodityType.MotorcyclesAndPowerSports)" />
					<label class="form-check-label" for="motorcycles-checkbox">
						Motorcycles And Power Sports
					</label>
				</div>

				<div class="form-check">
					<input id="pets-checkbox" class="form-check-input" type="checkbox" value="@((int)ComodityType.Pets)" />
					<label class="form-check-label" for="pets-checkbox">
						Pets
					</label>
				</div>

				<div class="form-check">
					<input id="plant-checkbox" class="form-check-input" type="checkbox" value="@((int)ComodityType.PlantAndHeavyEquipment)" />
					<label class="form-check-label" for="plant-checkbox">
						Plant And Heavy Equipment
					</label>
				</div>

				<div class="form-check">
					<input id="vehicles-checkbox" class="form-check-input" type="checkbox" value="@((int)ComodityType.Vehicles)" />
					<label class="form-check-label" for="vehicles-checkbox">
						Vehicles
					</label>
				</div>

				<span asp-validation-for="ComodityType" class="text-danger"></span>
				<span class="comodity-error text-danger" style="display:none">You must select at least one comodity type.</span>
			</div>
			<hr />
			<div class="form-group mt-2">
				<input type="checkbox" asp-for="DoesAgree" />
				<label asp-for="DoesAgree"></label>
				<span asp-validation-for="DoesAgree" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">Register</button>
		</form>
	</div>
</div>

@section Scripts{
	@await Html.PartialAsync("_ValidationScriptsPartial")

	<script>
		// extend range validator method to treat checkboxes differently
		var defaultRangeValidator = $.validator.methods.range;
		$.validator.methods.range = function (value, element, param) {
			if (element.type === 'checkbox') {
				// if it's a checkbox return true if it is checked
				return element.checked;
			} else {
				// otherwise run the default validation function
				return defaultRangeValidator.call(this, value, element, param);
			}
		}
	</script>

	<script type="text/javascript">
		function validateTrailerCheckboxes() {
			var trailer_checked_checkboxes = $("#trailer-checkboxes-list input[type=checkbox]:checked");
			if (trailer_checked_checkboxes.length == 0) {
				$(".trailer-error").show();
				return false;
			}
			$(".trailer-error").hide();
			return true;
		};
		function validateComodityCheckboxes() {
			var comodity_checked_checkboxes = $("#comodity-checkboxes-list input[type=checkbox]:checked");
			if (comodity_checked_checkboxes.length == 0) {
				$(".comodity-error").show();
				return false;
			}
			$(".comodity-error").hide();
			return true;
		};
	</script>
}