@model BoatFormModel

@{
	ViewData["Title"] = "Create Boat";
}

<h1>Create new Boat delivery</h1>

<div class="row">
	<div class="col-md-4">
		<form enctype="multipart/form-data" method="post" onsubmit="return validateServiceCheckboxes();">
			<div class="form-group">
				<label asp-for="Title"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Type"></label>
				<select asp-for="Type" asp-items="Html.GetEnumSelectList<BoatType>()" class="form-control"></select>
				<span asp-validation-for="Type" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Make"></label>
				<input asp-for="Make" class="form-control" />
				<span asp-validation-for="Make" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Model"></label>
				<input asp-for="Model" class="form-control" />
				<span asp-validation-for="Model" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			@await Html.PartialAsync("_DeliveryInsurancePartial", Model)
			<div class="form-group">
				<div class="row">
					<div class="col">
						<legend class="col-form-label">
							Measurement unit
						</legend>
						<div class="form-check">
							@Html.RadioButtonFor(m => m.MeasurementUnit, MeasurementUnit.Imperial, new { id = "imperial-checkbox" })
							<label for="imperial-checkbox">
								Imperial
							</label>
						</div>
						<div class="form-check">
							@Html.RadioButtonFor(m => m.MeasurementUnit, MeasurementUnit.Metric, new { id = "metric-checkbox" })
							<label for="metric-checkbox">
								Metric
							</label>
						</div>
					</div>
				</div>
				<span asp-validation-for="MeasurementUnit" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LengthFirstPart">Length</label>
				<input type="number" min="0" step="1" placeholder="meters" asp-for="LengthFirstPart" class="first-part-input form-control mb-1" />
				<span asp-validation-for="LengthFirstPart" class="text-danger"></span>
				<input type="number" min="0" step="1" placeholder="centimeters" asp-for="LengthSecondPart" class="second-part-input form-control" />
				<span asp-validation-for="LengthSecondPart" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="WidthFirstPart">Width</label>
				<input type="number" min="0" step="1" placeholder="meters" asp-for="WidthFirstPart" class="first-part-input form-control mb-1" />
				<span asp-validation-for="WidthFirstPart" class="text-danger"></span>
				<input type="number" min="0" step="1" placeholder="centimeters" asp-for="WidthSecondPart" class="second-part-input form-control" />
				<span asp-validation-for="WidthSecondPart" class="text-danger"></span>
			</div>
			<div class="form-group">

				<label asp-for="HeightFirstPart">Height</label>
				<input type="number" min="0" step="1" placeholder="meters" asp-for="HeightFirstPart" class="first-part-input form-control mb-1" />
				<span asp-validation-for="HeightFirstPart" class="text-danger"></span>
				<input type="number" min="0" step="1" placeholder="centimeters" asp-for="HeightSecondPart" class="second-part-input form-control" />
				<span asp-validation-for="HeightSecondPart" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Weight"></label>
				<input type="number" min="0" step="1" placeholder="kilograms" asp-for="Weight" class="weight-input form-control" />
				<span asp-validation-for="Weight" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col">
						<legend class="col-form-label">
							Is on trailer?
						</legend>
						<div class="form-check">
							@Html.RadioButtonFor(m => m.IsOnTrailer, true, new { id = "is-on-trailer-radio-button" })
							<label for="is-on-trailer-radio-button">
								Yes
							</label>
						</div>
						<div class="form-check">
							@Html.RadioButtonFor(m => m.IsOnTrailer, false, new { id = "is-not-on-trailer-radio-button" })
							<label for="is-not-on-trailer-radio-button">
								No
							</label>
						</div>
					</div>
				</div>
				<span asp-validation-for="IsOnTrailer" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PickupLocation"></label>
				<input asp-for="PickupLocation" class="form-control" />
				<span asp-validation-for="PickupLocation" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DeliveryLocation"></label>
				<input asp-for="DeliveryLocation" class="form-control" />
				<span asp-validation-for="DeliveryLocation" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CollectionDate"></label>
				<input type="date" name="CollectionDate" required />
				<span asp-validation-for="CollectionDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DeliveryDate"></label>
				<input type="date" name="DeliveryDate" required />
				<span asp-validation-for="DeliveryDate" class="text-danger"></span>
			</div>
			<div id="service-checkboxes-list" class="form-group">
				Service Type

				<div class="form-check">
					<input id="open-transport-checkbox" name="ServiceType" class="form-check-input" type="checkbox" value="@((int)BoatServiceType.OpenTransport)" />
					<label class="form-check-label" for="open-transport-checkbox">
						Open Transport
					</label>
				</div>

				<div class="form-check">
					<input id="enclosed-transport-checkbox" name="ServiceType" class="form-check-input" type="checkbox" value="@((int)BoatServiceType.EnclosedTransport)" />
					<label class="form-check-label" for="enclosed-transport-checkbox">
						Enclosed Transport
					</label>
				</div>

				<div class="form-check">
					<input id="flatbed-transport-checkbox" name="ServiceType" class="form-check-input" type="checkbox" value="@((int)BoatServiceType.FlatbedTransportService)" />
					<label class="form-check-label" for="flatbed-transport-checkbox">
						Flatbed Transport Service
					</label>
				</div>

				<div class="form-check">
					<input id="ocean-freight-container-checkbox" name="ServiceType" class="form-check-input" type="checkbox" value="@((int)BoatServiceType.OceanFreightContainerService)" />
					<label class="form-check-label" for="ocean-freight-container-checkbox">
						Ocean Freight Container Service
					</label>
				</div>

				<div class="form-check">
					<input id="skipper-delivery-checkbox" name="ServiceType" class="form-check-input" type="checkbox" value="@((int)BoatServiceType.SkipperDeliveryService)" />
					<label class="form-check-label" for="skipper-delivery-checkbox">
						Skipper Delivery Service
					</label>
				</div>

				<div class="form-check">
					<input id="towed-service-checkbox" name="ServiceType" class="form-check-input" type="checkbox" value="@((int)BoatServiceType.TowedService)" />
					<label class="form-check-label" for="towed-service-checkbox">
						Towed Service
					</label>
				</div>

				<span asp-validation-for="ServiceType" class="text-danger"></span>
				<span class="trailer-error text-danger" style="display:none">You must select at least one service type.</span>
			</div>
			<div class="form-group">
				<label asp-for="Photos"></label>
				<div class="custom-file">
					<input multiple asp-for="Photos" class="form-control custom-file-input" />
					<label class="custom-file-label">Choose File...</label>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="AdditionalDetails"></label>
				<textarea asp-for="AdditionalDetails" class="form-control"></textarea>
				<span asp-validation-for="AdditionalDetails" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">Create</button>
		</form>
	</div>
</div>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
	@await Html.PartialAsync("_FileInputValidationScriptsPartial")
	@await Html.PartialAsync("_MeasurementUnitsValidationScriptsPartial")

	<script>
		function validateServiceCheckboxes() {
			var serviceCheckedBoxes = $("#service-checkboxes-list input[type=checkbox]:checked");
			if (serviceCheckedBoxes.length == 0) {
				$(".trailer-error").show();
				return false;
			}
			$(".trailer-error").hide();
			return true;
		};
	</script>
}